main {
    max-width: 1440px;

    margin: 0 auto;
    padding: 30px 0 0 40px;
    .mainBlock {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .main_block{
          width: 760px;
      
          h1 {
              word-wrap: break-word;
      
              font-size: 42px;
              font-weight: 500;
              
          }
          ul {
              list-style: none;
      
              margin: 56px 0;
              li {
                  margin: 20px 0;
      
                  align-items: center;
                  img {
                      width: 25px;
      
                      margin-right: 15px;
                  }
              }
          }
          .main_block--form {
              width: 760px;
              padding: 32px;
      
              border: 1px solid #cecece;
              border-radius: 15px;
              box-shadow: 1px 1px 10px #a0a0a0;
              
              display: flex;
              justify-content: space-between;
              .main_block--form_userInfo{
                  width: 200px;
      
                  p {
                      font-size: 16px;
      
                      color: #012AC0;
                  }
                  h2 {
                    margin: 10px auto;
                    font-size: 42px;

                    color: #012AC0;
                }
                div {
                    display: flex;
                    justify-content: center;
                    svg {
                        width: 60px;
                    }
                }
                  .main_block--form_userInfo--socialmedia {
                      svg {
                          // #04B500E5
                          // #0038FFE5
                          // #9E00FFE5
                          :first-child {
                              path {
                                  fill: #012AC0;
                              }
                          }
                      }
                  }
              }
              .main_block--form_userTools{
                  width: 467px;
      
                  display: flex;
                  flex-direction: column;
                  input {
                      width: inherit;
                      padding: 18px 24px;
                      margin-bottom: 8px;
                      font-size: 20px;
      
                      border-radius: 18px;
                      border: 1px solid #c0c0c0;
                  }
                  button {
                      // width: inherit;
                      border-radius: 18px;
                      padding: 18px 0;
      
                      border: none;
                      background: #012AC0;
                      color: #fff;
                  }
              }
          }
        }
        .mainBlock_right {
            background: url(../assets/image\ 852mainCar.png);
            width: 620px;
            height: 600px;
        }
    }
    .main_infoBlock {
        margin-top: 100px;
        width: 100%;
        h2{
            width: 620px;
            word-wrap: break-word;
        }
    }
    .rateCar {
        margin-top: 100px;
        width: 100%;

        padding: 70px 0;
        background: linear-gradient(90deg, rgba(255,255,255,1) 11%, rgba(236,231,255,1) 41%, rgba(140,140,227,1) 72%, rgba(35,35,140,1) 100%);
        &--info {
            width: 750px;
            h2 {
                font-size: 38px;
            }
            p {
                font-size: 24px;
                // margin: 20px 0;
                margin-top: 20px;
            }
            &_userTools {
                // background: #000;
                width: 570px;
                display: flex;
                justify-content: space-between;
                button {
                    margin-top: 20px;
                    border: none;
                    border-radius: 15px;
                    background: #012AC0;
                    padding: 10px 80px;
                    color: #fff;
                }
                .social-media {
                    width: 235px;

                }
            }
        }
    }
    .sellCar_block {
        margin-top: 100px;
        width: 100%;
        .sellCar--heading {
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
                font-size: 32px ;
            }
            &_right {
                display: flex;
                align-items: center;

                background: #050505;
                color: #fff;

                border-radius: 16px;
                margin-right: 74px;
                padding: 21px;
                p {
                    width: 270px;
                    // padding-right: 0px;
                    border-right: 3px solid #fff;
                    border-radius: 2px;
                    font-size: 27px;
                    font-weight: 700;
                }
                svg {
                    margin-left: 10px;
                    width: 40px;
                    path {
                        
                        fill: #fff;
                    }
                }
            }   
        }
        .sellCar--info {
            margin-right: 74px;
            margin-top: 40px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            .info_left {
                ol {
                    width: 450px;
                    li {
                        align-items: center;
                        display: flex;
                        justify-content: space-between;

                        font-size: 20px;
                        font-weight: 700;

                        margin-top: 40px;
                        p {
                            width: 300px;

                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
    .sell_block {
        width: 763px;
        margin: 0 auto;
        &--heading {
            text-align: center;
            h2 {
                font-size: 42px;
                font-weight: 700;
            }
            p {
                font-size: 32px;
                font-weight: 300;
                padding: 20px 0;
            }
        }
        .sell_block--form {
            width: 760px;
            padding: 32px;
            margin: 0 auto;
    
            border: 1px solid #cecece;
            border-radius: 15px;
            box-shadow: 1px 1px 10px #a0a0a0;
            
            display: flex;
            justify-content: space-between;
            .sell_block--form_userInfo{
                width: 200px;
    
                p {
                    font-size: 16px;
    
                    color: #012AC0;
                }
                h2 {
                    margin: 10px auto;
                    // display: flex;
                    font-size: 42px;
                    // justify-content: center;
                    color: #012AC0;
                }
                div {
                    display: flex;
                    justify-content: center;
                    svg {
                        width: 60px;
                    }
                }
                .sell_block--form_userInfo--socialmedia {
                    svg {
                        // #04B500E5
                        // #0038FFE5
                        // #9E00FFE5
                        :first-child {
                            path {
                                fill: #012AC0;
                            }
                        }
                    }
                }
            }
            .sell_block--form_userTools{
                width: 467px;
    
                display: flex;
                flex-direction: column;
                input {
                    width: inherit;
                    padding: 18px 24px;
                    margin-bottom: 8px;
                    font-size: 20px;
    
                    border-radius: 18px;
                    border: 1px solid #c0c0c0;
                }
                button {
                    // width: inherit;
                    border-radius: 18px;
                    padding: 18px 0;
    
                    border: none;
                    background: #012AC0;
                    color: #fff;
                }
            }
        }
    }
}

.whatIndeed {
    width: 100%;
    margin-top: 100px;
    padding: 62px 0;

    background: no-repeat url(../assets/Отценить\ автоwhatIndeed.png);
    background-size: cover;

    color: #fff;
    &--wrapper {
        text-align: center;
        h2 {
            font-size: 42px;
        }
        button {
            font-size: 20px;
            padding: 16px 23px;

            border: none;
            border-radius: 10px;

            background: #012AC0;
            color: #fff;

        }
        &_card {
            width: 100%;
            margin: 40px 0;
            gap: 17px;

            display: flex;
            justify-content: center;
            .card {
                width: calc(100% - 77%);

                padding: 20px;
                background: #161619;
                color: #fff;

                border: 1px solid #a0a0a0;
                border-radius: 15px;
                h4 {
                    font-size: 30px;
                }
                p {
                    padding: 15px 0;
                    font-size: 17px;
                }
            }
        }
    }
}
.guarantee {
    width: 100%;
    &_heading {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        margin-left: 20px;
        h2 {
            width: 760px;
            font-size: 32px;
        }
        img {
            width: 460px;
        }
    }
    &_cards {
        
        width: 100%;
        margin: 40px 0;
        gap: 17px;

        display: flex;
        justify-content: center;

        div {
            width: calc(100% - 77%);
            position: relative;

            padding: 20px;
            background: #161619;
            color: #fff;

            border: 1px solid #a0a0a0;
            border-radius: 15px;
            text-align: center;
            h4 {
                font-size: 30px;
            }
            p {
                padding: 25px 18px;
                font-size: 18px;
            }
            // &::after {
            //     content: '-';
            //     color: #012AC0;
            //     font-size: 70px;
            //     position: absolute;
            //     top: 27%;
            //     right: -6%;
            //     &:last-child {
            //         display: none;
            //     }

            // }
        }
        
    }
}
.about {
    width: 95%;
    display: flex;
    justify-content: space-between;
    &-left{
        width: 600px;
        h2 {
            font-size: 32px;
        }
        p {
            padding: 35px 0;
            font-size: 22px;
        }
    }
    &-right{
        width: 560px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        
        h3 {
            font-weight: 500;
            font-size: 48px;
            padding: 10px 0;
        }
        p {
            font-size: 38px;
            font-weight: 300;
        }
    }
}
.car_model {
    &--wrapper {
        padding: 88px 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        div {
            margin: 20px 10px;
        }
    }
}